* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    width: 70%;
    margin: auto;
}


.rwandaful-img {
    width: 100%;
    display: block;
}

.rwandaful-img767 {
    display: none;
}


@media (max-width: 1920px) {
    div {
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 767px) {

    div {
        width: 100%;
        margin: auto;
    }

    .rwandaful-img {
        display: none;
    }
    
    .rwandaful-img767 {
        width: 100%;
        display: block;
    }
    
}